<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watunyu</title>
</head>
<body>
    <h2> ข้อมูลบทความทั้งหมด </h2>
    <p>By Watunyu</p>
</body>
</html>